.Banner_Services{
  width: 100%;
}
.bg_red{
  background: red;
}
.Service_Card{
  background: var(--bg-one);
  padding: 2rem;
  border-radius: 14px;
}

@media screen and (max-width: 600px) {
  .Banner_Services{
    width: 100%;
    height: 50%;
  }
}