.ExpCards{
  border-radius: 14px;
  
}


.Exp_Head span {
  color: var(--primary-green);
}
.Exp_at{
  color: #6F6FA8 !important;
  font-size: 2rem ;
}
.Exp_duration{
  color: rgb(172, 171, 171);
}
.Exp_Desc{
  color: rgb(134, 134, 134);
}