.certiImg{
  aspect-ratio: 1/1;
  width: 1000px;
}
.Exp_Head span {
  color: var(--primary-green);
}
.Exp_at{
  color: yellow !important;
  font-size: 2.5rem ;
}
.Exp_duration{
  color: rgb(172, 171, 171);
}
.Exp_Desc{
  color: rgb(134, 134, 134);
}